#
#   +--------------------------------------------+
#   |  Local Configuration                       |
#   +--------------------------------------------+
#
.env


#
#   +--------------------------------------------+
#   |  IDEs & platform ballast                   |
#   +--------------------------------------------+
#
.idea


#
#   +--------------------------------------------+
#   |  Vendor & Composer stuff                   |
#   +--------------------------------------------+
#
vendor/*
node_modules


#
#   +--------------------------------------------+
#   |  Build & test artefacts                    |
#   +--------------------------------------------+
#
tests/*/output/*
!tests/*/output/.gitkeep


#
#   +--------------------------------------------+
#   |  Temporary files                           |
#   +--------------------------------------------+
#
tmp/*
!tmp/.gitkeep
